<%= render partial: '/layouts/navbar' %>
<h1><u>Your list of users!</u></h1>

<div class="main">
    <ul>
        <% @interests.each do |i| %>
            <li>
                <h3>
                    <p><strong>Username: </strong><%= i.username %>, <strong>Email: </strong><%= i.email %></p>
                    <br />
                </h3>
            </li>
        <% end %>
    </ul>
</div>

<br /><br />
<%= link_to 'Profile', users_path %>