<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript" ></script>

<script type="text/javascript">
   $(function() {
    var images = ['/image01.jpg', '/image02.jpg', '/image03.jpg', '/image04.jpg', '/image05.jpg'];
    $('#background').css({'background-image': 'url(/assets' + images[Math.floor(Math.random() * images.length)] + ')'});
   });
</script>
<div id="background"></div>

<h1 class="title">CANNABIS GRAND CRU!</h1>
<h1>ASPEN, CO</h1>
<h2>NOVEMBER 14-16, 2014</h2>
<h3>FOR MORE INFORMATION</h3>
<br />

<div>
    <%= form_for @interest do |i| %>
        <fieldset>
            <%= i.text_field :email, :placeholder => "Email" %>
        </fieldset>
        <br />
        <fieldset>
        <%= i.text_field :username, :placeholder => "Username" %>
        </fieldset>
        <br />
        <%= i.submit "SUBMIT", :class => "btn btn-default"  %>
    </strong>
    <% end %>
</div>


